torch
transformers
peft
bitsandbytes
sentence-transformers
faiss-cpu
pandas
scikit-learn
tqdm
neo4j
openpyxl
fuzzywuzzy
python-Levenshtein
PyMuPDF
pdfplumber
pdfminer.six
langdetect
Pillow
